{% load cache %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Sfotipy con Django {{titulo}} </title>
</head>
<body>
	<section>

		<ul>
			{%for track in tracks%}
			<li>
				<a href="{{track.get_absolute_url}}"> {{track.title}} </a> {% if track.id == selected_track.id %} ======= {% endif %}
			</li>{% endfor %}
		</ul>
		<p> Title: 	{{track.title}}					</p>
		<p> Order: 	{{track.order}}					</p>
		<p> Track file: {{track.track_file}} 		</p>
		<p> Album: 	{{track.album}}					</p>
		<p> Artist: {{track.artist}}				</p>
		<p> Biography: {{track.artist.biography}}	</p>
		<p> Biography of other form: {{bio}}	</p>
	</section>
</body>
</html>